@import-normalize; /* bring in normalize.css styles */

:root {
  --color-text-primary: rgb(110, 110, 110);
  --color-background-primary: rgb(12, 12, 14);
  --color-positive: #72b900;
  --color-negative: #c41d00;
}

body {
  background-color: rgb(63, 63, 73);
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
